{:signature    [T]
 :query-params {starting_after [:type/string "the starting after" :required]
                limit          :type/integer}
 :consumes     [:application/json]
 :produces     [:application/json]
 :return       {200 {(paginated-list T)
                     {has_more :type/boolean
                      data     [T]}}}}

